@media screen and (min-width: 1440px) {
    html,
    body {
        height: 100%;
    }

    body {
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .container {
        height: calc(25vh + 15rem);
        width: 80%;
    }

    .card__wrapper {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: center;
        height: 100%;
        

        picture {
            flex-basis: 47.5%;
            height: 100%;
        }

    }

    .card__content-wrapper {
        padding: 0 5rem 0 4.5rem;
        flex-basis: 52.5%;
        h1,
        h2 {
            text-align: left;
        }

        p {
            text-align: left;
            padding-right: 6rem;
            padding-bottom: 4rem;
        }

        .card__heading {
            font-size: 2.5rem;
        }
    }

    .card__image {
        height: 100%;
        overflow: hidden;
        object-fit: cover;
        object-position: center;
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
        border-bottom-right-radius: 10px;
    }

    .card__image--gradient {
        height: 100%;
    }

    .card__image--gradient::before {
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
        border-bottom-right-radius: 10px;
    }

    .card__stat-wrapper {
        padding: 0;
        display: flex;
        flex-direction: row;
        align-items: flex-start;

        .card__stat-item {
            padding: 0 3rem 0 0;
            h2 {
                padding: 0.75rem 0 0 0;
            }
        }
    }
}