*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  min-height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
}

body {
  background-color: #090b1a;
  padding: 4rem 2rem;
}

.card__wrapper {
  background-color: #1b1938;
  border-radius: 10px;
}

.card__image {
  width: 100%;
  display: block;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  position: relative;
  z-index: 0;
}

.card__image--gradient {
  position: relative;
}

.card__image--gradient::before {
  content: "";
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(94, 0, 153, 0.45);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card__content-wrapper {
  padding: 2.5rem 1.5rem;
}
.card__content-wrapper h1,
.card__content-wrapper h2 {
  font-family: "Inter", sans-serif;
  text-align: center;
  letter-spacing: 0px;
  font-size: 1.75rem;
  line-height: 1.1;
  color: white;
}
.card__content-wrapper p {
  font-family: "Inter", sans-serif;
  text-align: center;
  color: rgba(255, 255, 255, 0.75);
  line-height: 1.6;
  font-size: 16px;
}
.card__content-wrapper .card__heading {
  padding: 0 0 1.2rem 0;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}
.card__content-wrapper .card__heading span {
  color: #aa5cdb;
}

.card__stat-wrapper {
  padding: 2rem 0 0 0;
}
.card__stat-wrapper .card__stat-item {
  padding: 2rem 0 0 0;
}
.card__stat-wrapper .card__stat-item h2 {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1px;
  padding: 0.5rem 0 0 0;
  color: rgba(255, 255, 255, 0.6);
}
.card__stat-wrapper > *:first-child {
  padding: 0;
}

@media screen and (min-width: 1440px) {
  html,
body {
    height: 100%;
  }

  body {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container {
    height: calc(25vh + 15rem);
    width: 80%;
  }

  .card__wrapper {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  .card__wrapper picture {
    flex-basis: 47.5%;
    height: 100%;
  }

  .card__content-wrapper {
    padding: 0 5rem 0 4.5rem;
    flex-basis: 52.5%;
  }
  .card__content-wrapper h1,
.card__content-wrapper h2 {
    text-align: left;
  }
  .card__content-wrapper p {
    text-align: left;
    padding-right: 6rem;
    padding-bottom: 4rem;
  }
  .card__content-wrapper .card__heading {
    font-size: 2.5rem;
  }

  .card__image {
    height: 100%;
    overflow: hidden;
    object-fit: cover;
    object-position: center;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-bottom-right-radius: 10px;
  }

  .card__image--gradient {
    height: 100%;
  }

  .card__image--gradient::before {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-bottom-right-radius: 10px;
  }

  .card__stat-wrapper {
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  .card__stat-wrapper .card__stat-item {
    padding: 0 3rem 0 0;
  }
  .card__stat-wrapper .card__stat-item h2 {
    padding: 0.75rem 0 0 0;
  }
}
